fastapi==0.115.6
uvicorn[standard]==0.30.6
pydantic
pytest==8.3.4
httpx==0.28.1

sqlmodel
SQLAlchemy
alembic
passlib==1.7.4
bcrypt==4.1.3
python-jose[cryptography]==3.3.0
python-multipart==0.0.9pydantic-settings==2.12.0
